

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.sr-only {
    position: absolute !important; /* Otherwise things in the navbar aren't hidden. */
}

.icon {
    font-size: 32px;
    color: white;
}

.navbar-brand {
    line-height: 32px;
}









